build/
.venv
*.pyc
docs/_static/course_switcher.json
docs/timetable/timetable.rst
.coverage
ps-page-env/

# os files
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db

.fake

# gif files
docs/os/gifs/**/*.gif
docs/os/gifs/tmp/*
docs/os/gifs/commands.run
docs/os/gifs/hashes.yml

# course environment install pages
docs/environments/course/*.rst

# Latest news 
docs/_rst_includes/latest_news.rst
