toml ; python_version < "3.11"

# we should be build-able on any version (check minimal version)
sphinx >=7.2.5

# extensions used
sphinx-book-theme
sphinx-copybutton
sphinx-inline-tabs
sphinxemoji
sphinx-togglebutton
sphinxcontrib-spelling
# sphinx-design is shipped with pydata-sphinx-theme, 
# and sphinx-book-theme is based on pydata-sphinx-theme,
# so it shouldn't be necessary
sphinx-design
# enable custom javascript
sphinxcontrib-jquery

# yaml
pyyaml