/* */

* {
    --dtu-red-corporate: #900;
    --dtu-white: #fff;
    --dtu-black: #000;
    --dtu-blue: #2f3eea;
    --dtu-bright-green: #1fd082;
    --dtu-navy-blue: #030f4f;
    --dtu-yellow: #f6d04d;
    --dtu-orange: #fc7634;
    --dtu-pink: #F7BBB1;
    --dtu-grey: #DADADA;
    --dtu-red: #E83F48;
    --dtu-green: #008835;
    --dtu-purple: #79238E;
    --bg-primary: var(--dtu-red);
    --bs-primary-rgb: 232, 63, 72;
    --bg-primary-highlight: var(dtu-red-corporate);

    /* --sd-color-primary: #007bff ;
    --sd-color-primary-highlight: #0069d9; */
    --sd-color-primary: var(--dtu-red);
    /* light red */
    --sd-color-primary-highlight: var(--dtu-red-corporate);
    /* dtu red */

    /* --sd-color-secondary: #6c757d;
    --sd-color-secondary-highlight: #5c636a; */
    --sd-color-secondary: var(--dtu-blue);
    --sd-color-secondary-highlight: var(--dtu-navy-blue);

    /* --sd-color-success: #28a745;
    --sd-color-success-highlight: #228e3b; */
    --sd-color-success: var(--dtu-green);
    --sd-color-success-highlight: var(--dtu-bright-green);
    --sd-color-info: #17a2b8;
    --sd-color-info-highlight: #148a9c;
    --sd-color-warning: #f0b37e;
    --sd-color-warning-highlight: #cc986b;
    --sd-color-danger: #dc3545;
    --sd-color-danger-highlight: #bb2d3b;
    --sd-color-light: #f8f9fa;
    --sd-color-light-highlight: #d3d4d5;
    --sd-color-muted: #6c757d;
    --sd-color-muted-highlight: #5c636a;
    --sd-color-dark: #212529;
    --sd-color-dark-highlight: #1c1f23;
    --sd-color-primary-text: #fff;
    --sd-color-secondary-text: #fff;
    --sd-color-success-text: #fff;
    --sd-color-info-text: #fff;
    --sd-color-warning-text: #212529;
    --sd-color-danger-text: #fff;
    --sd-color-light-text: #212529;
    --sd-color-muted-text: #fff;
    --sd-color-dark-text: #fff;
    --sd-color-shadow: rgb(0 0 0 / 15%);
    --sd-color-card-border: rgb(0 0 0 / 12.5%);
    --sd-color-card-border-hover: hsl(231deg 99% 66% / 100%);
    --sd-color-card-background: transparent;
    --sd-color-card-text: inherit;
    --sd-color-card-header: transparent;
    --sd-color-card-footer: transparent;
    --sd-color-tabs-label-active: hsl(231deg 99% 66% / 100%);
    --sd-color-tabs-label-hover: hsl(231deg 99% 66% / 100%);
    --sd-color-tabs-label-inactive: hsl(0deg 0% 66%);
    --sd-color-tabs-underline-active: hsl(231deg 99% 66% / 100%);
    --sd-color-tabs-underline-hover: rgb(178 206 245 / 62%);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: rgb(222 222 222);
    --sd-color-tabs-underline: rgb(222 222 222);
    --sd-fontsize-tabs-label: 1rem;
}