
/* vvvvv STYLES TO MAKE TABS MORE VISUAL vvvvv */

/*The parent container of tabs*/
.tab-set {
  border: 1px solid #ccc
}

/*Individual box of each tab*/
.tab-set > label {
  margin-bottom: 0
}

/*Container appearing below the tabs, with the contents of the active tab*/
.tab-content {
  background-color: aliceblue;
  padding: 20px
}

/*Initial paragraph of the content. By default there's a top margin 
 but we already specify a padding of 20 px for the content no matter what the
 first child is.*/
.tab-content > p:first-child {
  margin-top: 0
}

/* ^^^^^ STYLES TO MAKE TABS MORE VISUAL ^^^^^ */

/* To center the logo on the page */

/* Actual logo */
.microsoft-logo {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  overflow: hidden;
}

#microsoft-logo:before {
  content: "";
  position: absolute;
  height: 24.1vmin;
  width: 50vmin;
  background: linear-gradient(
    90deg,
    #f25022 48%,
    transparent 48%,
    transparent 52%,
    #7fba00 52%
  );
}

#microsoft-logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 24.1vmin;
  width: 50vmin;
  background: linear-gradient(
    90deg,
    #00a4ef 48%,
    transparent 48%,
    transparent 52%,
    #ffb900 52%
  );
}
