.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0 / 70%);
    z-index: 1;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: rgb(87 86 86);
    padding: 20px;
    z-index: 2;
    border-radius: 5px;
    width: 50%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.inactive .overlay {
    display: none;
}

.popup.inactive .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
}


.popup .content .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup .content a {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: var(--dtu-red);
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.popup .content .buttons .install-python {
    background-color: var(--dtu-bright-green);
}

.popup .content .buttons .essentials {
    background-color: var(--dtu-red);
}