---
name: cache gifs by running terminalizer

# Change this to whatever you want
on:
  schedule:
    # every Wednesday @ 20:31
    # It is important to do it within a week, to ensure
    # the cache is touched.
    # So now, this will touch, and the create docs will touch.
    # It ensures we can react from Wednesday till Friday.
    - cron: '31 20 * * WED'
  workflow_dispatch:

jobs:

  create-gifs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        submodules: false

    - name: Restore cached gifs
      uses: actions/cache@v4
      id: cache-gif
      with:
        key: gifs-${{ hashFiles('docs/os/gifs/**/*.yml') }}
        enableCrossOsArchive: true
        path: |
          docs/os/gifs/*/*.gif
        restore-keys: |
          gifs-

    - name: Node.js setup
      if: ${{ steps.cache-gif.outputs.cache-hit != 'true' }}
      uses: actions/setup-node@v6

    - name: Create gifs
      if: ${{ steps.cache-gif.outputs.cache-hit != 'true' }}
      run: |
        sudo apt-get install xvfb
        npm install -g terminalizer
        # Fix owner to root etc.
        path=$(dirname $(which terminalizer))/..
        echo "Found terminalizer here: $path/"
        chrome_sandbox=$path/lib/node_modules/terminalizer/node_modules/electron/dist/chrome-sandbox
        sudo chown root:root $chrome_sandbox
        sudo chmod 4755 $chrome_sandbox
        ls -l $chrome_sandbox

        cd docs/os/gifs
        xvfb-run --auto-servernum bash create.sh -n 2 || echo "Forced succeed $?"
        echo pwd=$(pwd)
        if [ ! -e Unix/terminal.gif ]; then
          echo "Could not find Unix/terminal.gif... something went wrong..."
          exit 1
        else
          exit 0
        fi
