---
name: deploy web-page

# Change this to whatever you want
on:
  push:
    tags:
     - 'v*'
  schedule:
    # every friday @ 19:21
    - cron: '21 19 * * FRI'
  workflow_dispatch:

env:
  PS_INCLUDE_TODOS: false

jobs:

  build_docs:
    uses: ./.github/workflows/create-doc.yaml
    with:
      name: docs
      targz_name: docs.tar.gz

  deploy_docs_first:

    name: Deploy to pythonsupport.dtu.dk
    needs: [build_docs]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/download-artifact@v4
        with:
          name: docs

      - name: Deployment -- rsync
        uses: Burnett01/rsync-deployments@7.0.1
        with:
          switches: -vr --delete
          path: docs.tar.gz
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY_PRIVATE }}

      - name: Access and unpack
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY_PRIVATE }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            rm -rf [^d]* dropincafe
            tar xfz docs.tar.gz
            rm docs.tar.gz

